body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #4A90E2; /* Azul Sereno */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    max-width: 400px;
}

.logo {
    font-size: 2.5em;
    font-weight: 700;
}

.logo-icon {
    display: inline-block;
    transform: rotate(-15deg);
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emergency-button {
    background-color: #50E3C2; /* Verde Esperança */
    color: #2c3e50;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    padding: 25px 40px;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
}

.emergency-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.siren {
    font-size: 1.5em;
    margin-right: 15px;
    animation: blink 1.5s infinite;
}

.footer-text {
    font-size: 0.9em;
    opacity: 0.8;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
